<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reto1Win.Properties.Settings.Reto1DBConnectionString"
            connectionString="Server=tcp:reto1dbserver.database.windows.net,1433;Initial Catalog=Reto1ModeladoDB;Persist Security Info=False;User ID=adminreto1;Password=Reto1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>